In [178]:
pip install pandas numpy matplotlib seaborn scikit-learn xgboost scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/omid/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy in /Users/omid/Library/Python/3.9/lib/python/site-packages (2.0.2)
Requirement already satisfied: matplotlib in /Users/omid/Library/Python/3.9/lib/python/site-packages (3.9.4)
Requirement already satisfied: seaborn in /Users/omid/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: scikit-learn in /Users/omid/Library/Python/3.9/lib/python/site-packages (1.6.0)
Requirement already satisfied: xgboost in /Users/omid/Library/Python/3.9/lib/python/site-packages (2.1.4)
Requirement already satisfied: scipy in /Users/omid/Library/Python/3.9/lib/python/site-packages (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: joblib>=1.2.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/omid/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.21.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [179]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

In [180]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [181]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S